*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* navbar */
nav{
    background-color: #FF6900;
    height: 70px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

nav .categorie ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    font-size: 18px;
}

li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo{
    height: 70px;
    padding: 19px;
}
img{
    height: 100%;
}
.user{
    display: flex;
    gap: 8px;
    font-size: 18px;
}

/* fine navbar */

/* footer */
footer{
    background-color: #1E1E1E;
    height: 110px;
    color: white;
    display: flex;
}

.società{
    font-weight: bold;
    padding: 8px 0px;
    font-size: 18px;
}

.info-link a{
    color: white;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.icone{
    display: flex;
    gap: 8px;
    font-size: 30px;
}

/* fine footer */