*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* navbar */
nav{
    background-color: #FF6900;
    height: 70px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

nav .categorie ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    font-size: 18px;
}

li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo{
    height: 70px;
    padding: 19px;
}
img{
    height: 100%;
}
.user{
    display: flex;
    gap: 8px;
    font-size: 18px;
}

/* fine navbar */



/* main */

main{
    padding: 60px 0px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.articolo{
    position: relative;
}

.foto-articolo{
    position: relative;
    width: 447px;
    height: 645px;
}

.art-img2{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1;
}
.articolo:hover .art-img2{
    display: inline-block;
}

.preferito{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 40px;
    background-color: white;
    padding: 14px;
}

.articolo:hover .preferito{
    color: red;
    z-index: 2;
}

.sconto{
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: red;
    padding: 8px 10px;
    z-index: 2;
}

.sostenibile{
    position: absolute;
    left: 60px;
    bottom: 40px;
    background-color: #008000;
    padding: 8px 10px;
    z-index: 2;
}

.etichetta{
    color: white;
    font-weight: bold;
}

.nome-articolo{
    font-weight: bold;
    font-size: 20px;
}

.scontato{
    font-weight: bold;
    color: red;
}
.norm{
    text-decoration: line-through;
}




/* footer */
footer{
    background-color: #1E1E1E;
    height: 110px;
    color: white;
    display: flex;
}

.società{
    font-weight: bold;
    padding: 8px 0px;
    font-size: 18px;
}

.info-link a{
    color: white;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.icone{
    display: flex;
    gap: 8px;
    font-size: 30px;
}

/* fine footer */